// FIXME: Icons don't change color

$clr-dark: hsl(200, 100%, 10%);
$clr-lighter: hsl(200, 100%, 20%);
// $clr-dark: hsl(30, 100%, 100%);
$clr-light: hsl(200, 100%, 85%);

@mixin flex {
  display: flex;
  align-items: center;
}
